<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trink Sat!</title>
</head>
<body>

    <div class="box">
        <img src="trink-sat-logo@2x.png"  id="sat-logo">
        <p>Aracını güvenle Trink sat!</p>
        <form action="/offer" method="get">
            <label for="Marka">Marka seç:</label>
            <select name="Marka" id="Marka">
                <option value="" disabled selected>SEÇİNİZ</option>
                <option value="FIAT">FIAT</option>
                <option value="PEUGEOT">PEUGEOT</option>
                <option value="RENAULT">RENAULT</option>
                <option value="HYUNDAI">HYUNDAI</option>
                <option value="FORD">FORD</option>
                <option value="DACIA">DACIA</option>
                <option value="TOYOTA">TOYOTA</option>
                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                <option value="OPEL">OPEL</option>
                <option value="NISSAN">NISSAN</option>
                <option value="CITROEN">CITROEN</option>
                <option value="KIA">KIA</option>
                <option value="SKODA">SKODA</option>
                <option value="AUDI">AUDI</option>
                <option value="MERCEDES_BENZ">MERCEDES BENZ</option>
                <option value="VOLVO">VOLVO</option>
                <option value="BMW">BMW</option>
                <option value="MINI">MINI</option>
                <option value="LAND ROVER">LAND ROVER</option>
                <option value="MAZDA">MAZDA</option>
                <option value="MITSUBISHI">MITSUBISHI</option>
                <option value="LADA">LADA</option>
                <option value="CHEVROLET">CHEVROLET</option>
                <option value="SEAT">SEAT</option>
                <option value="IVECO">IVECO</option>
                <option value="HONDA">HONDA</option>
                <option value="JEEP">JEEP</option>
                <option value="PORSCHE">PORSCHE</option>
                <option value="ISUZU">ISUZU</option>
                <option value="LANCIA">LANCIA</option>
                <option value="JAGUAR">JAGUAR</option>
                <option value="ASTON MARTIN">ASTON MARTIN</option>
                <option value="SUBARU">SUBARU</option>
                <option value="OTOKAR">OTOKAR</option>
                <option value="ALFA_ROMEO">ALFA ROMEO</option>
                <option value="LINCOLN">LINCOLN</option>
                <option value="DODGE">DODGE</option>
                <option value="CHRYSLER">CHRYSLER</option>
                <option value="CHERY">CHERY</option>
                <option value="SUZUKI">SUZUKI</option>
                <option value="TATA">TATA</option>
                <option value="TOFAS">TOFAS</option>
            </select>
            <button type="submit">Teklif al</button>
        </form>
        <a href="/manage">Randevu al</a>
    </div>
    
    <script src="script.js"></script>
    
    </body>
    </html>