<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vehicle.css">
    <title>Araç Özellikleri</title>
</head>
<body>
    <div class="vehicle-box">
        <aside>
            <img src="360_F_222820631_WRuNhAnUV3N8V78LYAo2SYaPY8bVqvbD.jpg" alt="Geri Dön" id="back-button">
            <h1>ARAÇ SEÇİMİ <span id="Marka">{{Marka}}</span></h1>
        </aside>

        <section id="initial-section">
            <form id="initial-form" action="/offer" method="POST">
                <input type="hidden" name="Marka" value="{{Marka}}">

                <span>
                    <label for="Yil">Yıl:</label>
                    <select name="Yil" id="Yil" required></select>
                </span>
                <span>
                    <label for="Model">Model Seçiniz:</label>
                    <select name="Model" id="Model" required>
                        <option value="" disabled selected>seçiniz</option>
                    </select>
                </span>
                <span>
                    <label for="Yakit">Yakıt:</label>
                    <select name="Yakit" id="Yakit" required>
                        <option value="">Seçiniz</option>
                        <option value="DIESEL">Dizel</option>
                        <option value="BENZIN">Benzin</option>
                    </select>
                </span>
                <span>
                    <label for="Sanziman">Şanzıman:</label>
                    <select name="Sanziman" id="Sanziman" required>
                        <option value="">Seçiniz</option>
                        <option value="AUTOMATIC">Otomatik</option>
                        <option value="MANUAL">Manuel</option>
                    </select>
                </span>
                 <span>
                    <label for="Km">Km:</label>
                    <input type="number" name="Km" id="Km" required>
                 </span>
                 <span>
                    <label for="Beygir">Beygir:</label>
                    <input type="number" name="Beygir" id="Beygir" required>
                 </span>
                 <span>
                    <label for="Tramer">Tramer:</label>
                    <input type="number" name="Tramer" id="Tramer" required>
                 </span>
                 <span>
                    <label for="Hafta">Hafta:</label>
                    <input type="number" name="Hafta" id="Hafta" required>
                 </span>
                 <span>
                    <label for="Kaput_Tavan">Kaput_Tavan</label>
                    <input type="number" name="Kaput_Tavan" id="Kaput_Tavan" required>
                 </span>
                <button type="button" id="proceed-button">İlerle</button>
            </form>
        </section>

        <section id="paint-section" style="display:none;">
            <h2>Boya ve Değişen Seçimi</h2>
            <div class="car-image">
                <img src="asdsadsad.PNG" alt="Araç Görseli" id="vehicle-image">
                <div id="overlay">
                    <div class="car-part" id="part1" data-part-name="Sol Ön Kapı"></div>
                    <div class="car-part" id="part2" data-part-name="Sol Arka Kapı"></div>
                    <div class="car-part" id="part3" data-part-name="Sol ön çamurluk"></div>
                    <div class="car-part" id="part4" data-part-name="Sol Arka çamurluk"></div>
                    <div class="car-part" id="part5" data-part-name="Sağ Ön kapı"></div>
                    <div class="car-part" id="part6" data-part-name="Sağ Arka kapı"></div>
                    <div class="car-part" id="part7" data-part-name="Sağ Arka çamurluk"></div>
                    <div class="car-part" id="part8" data-part-name="Sağ Ön çamurluk"></div>
                    <div class="car-part" id="part9" data-part-name="Ön tampon"></div>
                    <div class="car-part" id="part10" data-part-name="Arka tampon"></div>
                    <div class="car-part" id="part11" data-part-name="Motor kısmı"></div>
                    <div class="car-part" id="part12" data-part-name="Bagaj kısmı"></div>
                    <div class="car-part" id="part13" data-part-name="Çatı"></div>
                </div>
            </div>
            <div class="selection-summary">
                <p>Boya: <span id="Boya">0</span></p>
                <p>Değişen: <span id="Degisen">0</span></p>
            </div>
            <button type="button" id="submit-details">Teklif Al</button>
        </section>

        <section id="result-section" style="display:none;">
            <div class="result">
                <p>Arabanızın Değeri: <span id="price">{{ price }} ₺</span></p>
                <img src="arabam-kac-para-badge.png" alt="sonuç Görseli" id="result-image">
            </div>
        </section>
         
    </div>

    <script src="script.js"></script>
</body>
</html>
