html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10%;
}

.vehicle-box {
    width: 90%;
    max-width: 1000px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
}

.vehicle-box form {
    display: grid;
    gap: 15px;
}

.vehicle-box label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold; 
}

.vehicle-box input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
}

.vehicle-box input[type="number"]::-webkit-inner-spin-button,
.vehicle-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    grid-column: span 3; 
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

button:hover {
    background-color: darkred;
}

.result {
    width: 90%;
    max-width: 1000px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
}


img#back-button {
    position: absolute;
    top: 0;
    z-index: 9999999;
    width: 65px;
    left: 0;
}

aside {
    position: relative;
}

#back-button {
    cursor: pointer;
}

select {
    width: 163px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.car-image {
    position: relative;
}

.car-part {
    position: absolute;
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
} 
#part1 { left: 22px; top: 200px; }
#part2 { left: 22px; top: 260px; }
#part3 { left: 25px; top: 125px; }
#part4 { left: 25px; top: 325px; } 
#part5 { left: 255px; top: 200px; }
#part6 { left: 255px; top: 260px; }
#part7 { left: 255px; top: 325px; }
#part8 { left: 255px; top: 125px; }
#part9 { left: 135px; top: 30px; }
#part10 { left: 135px; top: 400px; }
#part11 { left: 135px; top: 130px; }
#part12 { left: 138px; top: 335px; }
#part13 { left: 135px; top: 250px; }


.result-image {
width: 220px ;

}


